.juego-detalle {
  padding: 30px;
  background: #1b1b1b;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
}

.juego-detalle img {
  width: 70%;
  border-radius: 12px;
  margin: 20px 0;
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.4);
}

.juego-detalle button {
  padding: 12px 24px;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  background: linear-gradient(145deg, #0ff, #00f2ff);
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.juego-detalle button:hover {
  background: linear-gradient(145deg, #00f2ff, #0ff);
  box-shadow: 0 0 10px #0ff;
}
